.serra-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.serra-popup-content {
    width: 50%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

.serra-popup-logo {
    height: 250px;
    width: auto;
}

.serra-popup-content h1 {
    color: #333;
    font-size: 24px;
    margin-top: 15px;
}

.serra-popup-content p {
    color: #666;
    font-size: 16px;
    margin-top: 10px;
}

#serraPopupClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #591420;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
